---
layout: archive
title: "Conference list"
permalink: /talks/
author_profile: true
---

### International conferences:

[12] Jeonghyun Kim, Taiji Adachi (2021 Dec). Differentiation fate of mesenchymal stem cells toward osteocyte is determined by actin balancing, Oral presentation (PP1-116) delivered at the 11th Asian-Pacific Conference on Biomechanics (AP Biomech 2021), Kyoto (Japan). [The Outstanding Abstract Award Runner-up]

[11] Jeonghyun Kim, Taiji Adachi (2021 Jul). Pre-osteoblasts in three-dimensional spheroids exert osteocyte-likeness, Oral presentation (TE.2-1: Tissue Engineering) delivered at the 26th Congress of the European Society of Biomechanics, Milan (Italy), Web.

[10] Jeonghyun Kim, Keiichi Ishikawa, Junko Sunaga, Taiji Adachi (2021 Jul). Intracellular tension of osteoblast in collagen gel elicits osteocyte alignment under uniaxially-fixed boundary condition. Oral presentation (Cell mechanics and cell mechanobiology; S24-2) delivered at the 2nd Joint Meeting of the European Society for Clinical Hemorheology and Microcirculation, the International Society for Clinical Hemorheology, and the International Society of Biorheology (ESCHM-ISCH-ISB 2021), Fukuoka (Japan), Web. [Invited]

[9] Jeonghyun Kim, Taiji Adachi (2021 Mar). Three-dimensional culture technology: Self-organized spheroid culture drives osteocytogenesis, Oral presentation (ROT2-2) delivered at the 2021 IEEE 3rd Global Conference on Life Sciences and Technologies (LifeTech 2021), Nara (Japan), Web.

[8] Jeonghyun Kim, Taiji Adachi (2019 Nov). Enhancement of osteocytogenesis for pre-osteoblast cells in three-dimensional spheroid culture, Oral presentation (YIA-5) delivered at the 10th Asian-Pacific Conference on Biomechanics (AP Biomech 2019), Taipei (Taiwan). [The Yamaguchi Medal]

[7] Jeonghyun Kim, Taiji Adachi (2019 Aug). Effect of three-dimensional structure for pre-osteoblast cells on osteocyte differentiation, Oral presentation (YI talk2) delivered at the 4th Africa International Biotechnology and Biomedical Conference, Mombasa (Kenya). [Best Oral Presentation Award]

[6] Jeonghyun Kim, Takayuki Harada, Yasushi Hirota, Takehiro Hiraoka, Osamu Yoshino, Shigeru Saito, Yutaka Osuga, Takashi Ushida, and Katsuko Furukawa (2018 Sep). Development of new in vitro model that mimics early implantation of embryo using tissue engineered constructs derived from human endometrial stromal cells, Poster presentation (O2-P539) delivered at the 5th TERMIS World Congress - 2018, Kyoto (Japan).

[5] Jeonghyun Kim, Takayuki Harada, Yasushi Hirota, Takehiro Hiraoka, Osamu Yoshino, Shigeru Saito, Yutaka Osuga, Takashi Ushida, and Katsuko Furukawa (2018 Jul). Novel application of three-dimensional tissue engineered constructs fabricated by human endometrial stromal cells to facilitate early embryo growth and implantation, Oral presentation (O0641) delivered at the 8th World Congress of Biomechanics, Dublin (Ireland). [The Outstanding Young Researcher Presentation Award]

[4] Jeonghyun Kim, Takayuki Harada, Tomohiro Matsunaga, Yasushi Hirota, Takehiro Hiraoka, Osamu Yoshino, Shigeru Saito, Yutaka Osuga, Takashi Ushida, and Katsuko Furukawa (2017 Jul). Reconstruction and in vivo application of scaffold-free tissue using rat endometrial stromal cells, Oral presentation (1224) delivered at the 26th Congress of the International Society of Biomechanics (ISB 2017), Brisbane (Australia).

[3] Jeonghyun Kim, Takayuki Harada, Yasushi Hirota, Takehiro Hiraoka, Osamu Yoshino, Shigeru Saito, Yutaka Osuga, Takashi Ushida, and Katsuko Furukawa (2017 Jun). In vitro and in vivo application of scaffold-free tissue reconstructed by endometrial stromal cells, Poster presentation (P727) delivered at TERMIS European Chapter Meeting 2017, Davos (Switzerland).

[2] Jeonghyun Kim, Morizaku Seki, Yasushi Hirota, Takehiro Hiraoka, Osamu Yoshino, Masayo Yokota, Shigeru Saito, Yutaka Osuga, Takashi Ushida, and Katsuko Furukawa (2016 Dec). Regeneration and experimental transplantation of a bioengineered uterus using bioreactor, Oral presentation (1165) delivered at the 2016 TERMIS-Americans Conference, San Diego, CA (USA).

[1] Jeonghyun Kim, Yasushi Hirota, Takehiro Hiraoka, Osamu Yoshino, Kevin Montagne, Masayo Yokota, Shigeru Saito, Yutaka Osuga, Takashi Ushida, and Katsuko Furukawa (2015 Sep). Cyclic stretching of human endometrial stromal cells promotes their differentiation into smooth muscle cells, Poster session (AP00591) presented at the 8th Asian-Pacific Conference on Biomechanics (AP Biomech 2015), Sapporo (Japan).

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
