---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

[2] -Jeonghyun Kim-, Morizaku Seki, Yasushi Hirota, Takehiro Hiraoka, Osamu Yoshino, Masayo Yokota, Shigeru Saito, Yutaka Osuga, Takashi Ushida, and Katsuko Furukawa (2016 Dec). Regeneration and experimental transplantation of a bioengineered uterus using bioreactor, Oral presentation (1165) delivered at the 2016 TERMIS-Americans Conference, San Diego, CA (USA).

[1] *Jeonghyun Kim*, Yasushi Hirota, Takehiro Hiraoka, Osamu Yoshino, Kevin Montagne, Masayo Yokota, Shigeru Saito, Yutaka Osuga, Takashi Ushida, and Katsuko Furukawa (2015 Sep). Cyclic stretching of human endometrial stromal cells promotes their differentiation into smooth muscle cells, Poster session (AP00591) presented at the 8th Asian-Pacific Conference on Biomechanics (AP Biomech 2015), Sapporo (Japan).

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
